//- Task 14 (Handling complex data in JSON format). Point 1
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
        title Books DB
    body(class="p-4")
        div(class="d-flex justify-content-between pb-3")
            h1 Edit Book
            a(href="/books")
                button(class="btn btn-link") Back

        if book
            form(method="post" action="/books/"+book._id style="width: 380px")
                div(class="form-group")
                    label(for="title") Title
                    input(name="title" class="form-control" value=book.title)
                div(class="form-group")
                    label(for="author") Author
                    input(name="author" class="form-control" value=book.author)
                div(class="form-group")
                    label(for="category") Category
                    input(name="category" class="form-control" value=book.category)
                        
                input(type="submit" class="btn btn-primary")
                input(type="reset" class="btn btn-light ml-2")
        else
             p(class="text-muted m-5 text-center") Book is not found

        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')