//- Task 14 (Handling complex data in JSON format). Point 1
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
        title Star Wars
    body(class="p-4")
        h1(class="pb-3") The Star Wars API
        div(class="list-group")
            a(href='/films' class="list-group-item list-group-item-action") Episodes
            a(href='/planets?page=1' class="list-group-item list-group-item-action") Planets
      
        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')